
body {
    background-color: #E9E9EB;
    margin: 0;
}
.sorteo_container {
    width: 100%;
    background-color: #E9E9EB;
    height: 101.2vh;
    background-image: url("../assets/background_sorteo2.jpg");
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    position: relative;
    &_img {
        width: 100%;
        img {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 180px;
            @media screen and (max-width: 768px) {
                width: 100%;
                height: 15%;
            }
        }
    }
    
    .questions-background {
        padding-top: 18vh;
        height: 81vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media screen and (max-width: 963px) {
            flex-direction: column;
            align-items: center;
        }

        .user_name {
            font-size: 1.5em;
            margin-top: 140px;

            p {
                color: #12345A;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
    .table_winners {
        position: absolute;
        right: 20px;
        top: 100px;
        &_container {
            width: 300px;
            margin-bottom: 100px;

            & table {
                width: 100%;
                border-collapse:separate; 
                border-spacing: 0;
                thead {
                    background: #626164;
                    padding: 10px 0;
                    color: white;
                }

                tbody {
                    tr td {
                        margin: 10px 0;
                        border: 1px solid #626164;
                    }
                }
            }

        }
        @media screen and (max-width: 1480px) {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            right: 0;
        }
    }
    .questions_container {
        background: url("../assets/panels2.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-size:1100px 80%;
        background-position: center 200px;
        width: 100%;
        max-width: 1700px;
        height: 88%;
        bottom: -20px;
        position: relative;

        @media screen and (min-width: 2000px) {
            height: 60%;
        }

        @media screen and (min-width: 1000px) {
            height: 100%;
        }


        &_winners {
            padding-top: 12%;
            height: 300px;
            box-sizing: border-box;
            p {
                margin: 40px 0;
                font-size: 1.5em;
                font-weight: 600;
                color: black !important;
            }

            @media screen and (max-width: 768px) {
                padding-top: 50px;
            }

            @media screen and (min-width: 2000px) {
                padding-top: 30px;
            }

        }
        
        &_buttons {
            display: flex;
            justify-content: center;
            margin-top: 15%;
            width: 100%;
            @media screen and (max-width: 5000px) {
                position: absolute;
                bottom: 8%;
            }

            @media screen and (max-width: 768px) {
                position: absolute;
                bottom: 20%;
            }
            button {

                cursor: pointer;
                width: 200px;
                height: 50px;
                padding: 0;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                background: rgb(188,187,193);
                background: linear-gradient(0deg, rgba(188,187,193,1) 0%, rgba(174,175,175,1) 0%, rgba(124,124,125,1) 100%);
                border: 1px solid rgb(162, 162, 167);
                border-radius: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                text-transform: uppercase;
                font-size: 1.2em;
                margin: 0 10px;
                font-weight: 500;

                @media screen and (max-width: 768px) {
                    width: 110px;
                    font-size: .9em;
                }
            }

            .button-disabled {
                filter: brightness(1.2);
                cursor: not-allowed;
            }
            img {
                width: 100%;
                margin: 0 10px;
                cursor: pointer;
            }

            @media screen and (max-width: 768px) {
                margin-top: 10px;
            }
        }

        @media screen and (max-width: 1480px) {
            /*height: 500px;
            background-size: 180%;
            padding-top: 100px;
            bottom: -25px;
            background: none;*/
        }
        @media screen and (max-width: 1200px) {
            background-size:600px 100%;
        }
        @media screen and (max-width: 963px) {
            /*height: 500px;
            background-size: 180%;
            padding-top: 100px;
            bottom: -25px;
            background: none;*/
            bottom: -15%;
        }
        @media screen and (max-width: 425px) {
            background-size: 250%;

        }
    }
    @media screen and (max-width: 768px) {
        height: 100%;

    }

}
